.title {
    horizontal-align: center;
    margin: 20;
}

button {
    horizontal-align: center;
}

.message {
    color: #284848;
    horizontal-align: center;
    margin: 0 20;
    text-align: center;
}
